div#background{
    width:auto;
}
div.home{
    position:relative;
    margin:0px 0px 0px 0px;
    background-image: url("https://news.wttw.com/sites/default/files/styles/full/public/article/image-non-gallery/IIT%20Gift_1025.jpg?itok=5wnNOMFb"); //url('insider_platform_1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 835px;
}

div.home h1{
    position: relative;
    text-align: center;
}
div.dropdown{
    text-align: center;
    margin-top: 300px;
    margin-left: 43.5%; //remove this for regular
    display: flex;
    justify-content: 'center';
    align-items: center;
}
div.button{
    //text-align: center;
    margin-left: 46%
}

footer.home{
    position: fixed;
    left:0;
    bottom:0;
    right:0;
}


