.divStyle{
    position: relative; 
    padding: 5px;
    border: 2px solid black;
    margin: 0px 75px 5px 50px; 
}
footer{
    position: relative;
    margin-top: 125px;
}
textarea{
    width: 500px;
    height: 150px;
    margin-bottom: -10px
}
section{
    margin-bottom: 200px;
}
